# Open AI key
OPENAI_API_KEY=

# Authorization secrete
TOKEN_SECRET="this-is-a-secret-value-with-at-least-32-characters"

# Database config
MYSQL_HOST = "127.0.0.1"
MYSQL_PORT = "3096"
MYSQL_DATABASE = "joyceaidb"
MYSQL_USER = "root"
MYSQL_PASSWORD = "5bad89a3"